<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
        <nav class="navbar navbar-expand-sm bg-light">

                <!-- Links -->
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link" href="/index">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/view">View </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/searchform">Search</a>
                  </li>
                </ul>
              
              </nav>
              
    <div class="container">
        <div class="row">
            <div class="col">
                <form action="/search" method="POST">
                <table>
                    
                    <tr><th>Movie name</th><td><input type="text" name="moviename" class="form-control"></td></tr>
                    
                    <tr><th></th><td><button  type="submit" class="btn btn-success">SEARCH</button></td></tr>
                </table>
                </form>
            </div>
        </div>
    </div>
</body>
</html>